@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topBar {
  height: 2.5rem;
}

.topBar-left .michelle {
  margin-left: 0.5rem;
  padding: 0.2rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.menu-button {
  display: block;
  padding: 0.05rem;
  position: fixed;
  top: 0.55rem;
  right: 1rem;
  z-index: 1100;
  background: transparent;
}

.button-icon {
  align-items: center;
}

.mobile-menu {
  position: fixed;
  top: 3.25rem;
  right: 0.05rem;
  background: #dbd9d0;
  z-index: 1099;
  width: 10rem;
}

.desktop-nav {
  display: none;
}
