@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.topBar {
  height: 2.5rem;
}

.topBar-left .michelle {
  margin-left: 0.01rem;
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.menu-button {
  display: block;
  padding: 0.05rem;
  position: fixed;
  top: 0.55rem;
  right: 1rem;
  z-index: 1100;
  background: transparent;
}

.button-icon {
  align-items: center;
}

.mobile-menu {
  position: fixed;
  top: 4rem;
  right: 0.3rem;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  flex: 0 0 auto;
}

.mobile-menu .mobile-menu-links {
  display: block;
  white-space: nowrap;
  padding: 0.2rrem;
  text-align: right;
}

.mobile-menu .mobile-menu-links:hover {
  transform: scale(1.05);
  transform-origin: center;
}

.desktop-nav {
  display: none;
}
