.projects {
  display: flex;
  justify-content: space-between;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #adb9bc;
  height: 300px;
  width: 250px;
  padding: 10px;
  border-radius: 20px;
}

.projectTitle {
  padding: 1.5rem;
  font-size: 1.75rem;
  font-family: Karla;
  text-align: center;
}

.projectDesc {
  padding: 2rem;
  font-size: 1.2rem;
  font-family: Karla;
}

.projectLogo {
  width: 4.5rem;
}
