.projects {
  display: flex;
  justify-content: space-around;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b0bec1;
  height: 18.75rem;
  width: 16rem;
  padding: 0.625rem;
  border-radius: 20px;
}

.projectTitle {
  font-size: 1.4rem;
  padding: 1.5rem;
  font-family: Karla;
  text-align: center;
  font-weight: 400;
  color: rgb(87, 91, 91);
}

.projectDesc {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
  font-family: Karla;
  font-weight: 200;
  color: rgb(87, 91, 91);
}

.projectLogo {
  width: 4.5rem;
}

/* github links part */

.github-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 0rem;
}

.github-logo {
  width: 1.5rem;
}

.github-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.github-link {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(33, 35, 35);
  font-family: Karla;
}

@media (max-width: 768px) {
  .project {
    width: 11.5rem;
    height: 12.5rem;
    padding: 0.5rem;
  }

  .projectTitle {
    font-size: 1.2rem;
    padding: 0.75rem;
    font-weight: 500;
    color: rgb(87, 91, 91);
  }

  .projectDesc {
    padding: 1rem;
    font-size: 0.9rem;
    font-weight: 200;
  }

  .projectLogo {
    width: 3.2rem;
  }

  .github-logo {
    width: 1.2rem;
  }

  .github-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }

  .github-link {
    font-size: 0.8rem;
    font-weight: 300;
    color: rgb(33, 35, 35);
    font-family: Karla;
  }
}
