@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #faf8ef;
  min-width: calc(100vh);
  height: 52px;
}

li {
  display: flex;
  flex-direction: row;
  background-color: #faf8ef;
  justify-content: right;
  padding: 16px 16px;
  margin-left: 12%;
  margin-right: 2%;
}

.michelle {
  justify-content: left;
  padding: 11px;
  color: #1e1e1e;
  text-align: center;
  font-size: 25px;
  font-family: Karla;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 40%;
}

a {
  list-style: none;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-family: Karla;
  margin-right: 25px;
  margin-left: 25px;
}

a:not(.active):hover {
  list-style: none;
  background-color: #acbbd8;
  color: #1e1e1e;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.a {
  list-style: none;
  display: block;
  color: #879aa0;
  padding: 0.5rem;
  margin: 0 0.5 rem;
  border-radius: 0.5rem;
}

.active {
  list-style: none;
  background-color: #adb9bc;
  color: #1e1e1e;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
