@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.total-page {
  width: 100%;
  min-height: 100vh;
}

.contactBody {
  background-color: #dbd9d0;
  min-height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5rem;
}

.contactFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.contact {
  width: 50%;
  margin-top: 7%;
  margin-bottom: 4.7rem;
  justify-content: center;
}

.contactButton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.logos {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  gap: 5rem;
}

.logo {
  width: 5rem;
  display: block;
  margin: 0;
}

.contactButton {
  display: inline-block;
  line-height: 0;
  margin: 0 5rem;
}

@media (max-width: 768px) {
  .contact {
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    justify-content: center;
  }

  .logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    margin-top: 0;
  }

  .logo {
    width: 4rem;
  }
}
