@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.total-page {
  width: 100%;
  min-height: 100vh;
}

.resumeBody {
  background-color: #dbd9d0;
  min-height: calc(100vh);
}

.resumeFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1e1e1e;
  margin-top: 5%;
  margin-bottom: 1.875rem;
  border-radius: 15px;
}

.text {
  color: #1e1e1e;
  font-family: Karla;
  margin-right: 0.95rem;
  font-size: 1.5rem;
  text-align: center;
}

.resumeButton {
  margin-bottom: 0.95rem;
  border-color: #868fa0;
  border-radius: 10px;
  background-color: #d9d9d9;
  margin-top: 0.625rem;
  width: 3.125rem;
  padding: 0.125rem;
}

.resume {
  width: 60%;
}

.download {
  width: 2.5rem;
  height: 2.5rem;
}
